@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <environment names="Staging,Production">
        <link rel="stylesheet"
            href="~/index.css"
            asp-append-version="true" />
    </environment>
}

@section scripts {
    <environment names="Development">
        <script src="//localhost:8080/wwwroot/index.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/index.bundle.js"></script>
    </environment>        
}

<div class="container">
    <div class="row">
        <div class="col col-12">
            <h1>Index/Home</h1>
        </div>
    </div>

    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col col-md-8">.col .col-md-8</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
        <div class="col-6">.col-6</div>
        <div class="col-6">.col-6</div>
    </div>
</div>
